.container {
    width: 100%;
    padding: 3rem;
}

.backBtn {
    padding: .5rem 1rem;
    background: rgb(67, 139, 248);
    border: none;
    color: white;
    font-weight: 600;
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    text-decoration: none;
    font-size: .9rem;
}

.chart {
    width: 100%;
    margin-top: 2rem;
}

.chart table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5rem;
    text-align: center;
}

.Abtn {
    background: green;
    font-weight: 800;
    color: white;
    border: none;
    padding: .5rem 1rem;
    width: 8rem;
}

.Dbtn {
    background: red;
    font-weight: 800;
    color: white;
    border: none;
    padding: .5rem 1rem;
    width: 8rem;
}